body {
  margin: 0;
  padding: 0;
}

.image {
  width: 500px;
  height: 200px;
  /* background: orchid; */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRq7SIhwGjUMG_T5hUF8BS7e9hRDWhb0qS9RmcaWZyCkqlFuj-B");
  background-repeat: no-repeat;
  border-radius: 200px;
}
